<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styling/styles.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">

    <title>Delhi House Prediction</title>
</head>
<body>
    <div class="mainDiv">
        <div class="homePage">
            <h1 class="mainHeading1">Looking for a new house but confused about Pricing??</h1>
            <h1 class="mainHeading2">Discover Your Dream Home in Delhi with Us</h1>
            
            <form action="/prediction">
                <button class="predictButton" type="submit">PREDICT NOW</button>
            </form>
        </div>
    </div>
</body>
</html>